.title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    flex-direction: column;
    width: auto;
    height: 535px;
    background-color: #443E58;
}

.title-logo {
    display: flex;
    align-self: center;
    width: 15%;
    height: auto;
    margin-top: -20vh;
    animation-duration: 1.4s;
    animation-name: slide_up1;
}

.title-text {
    display: flex;
    align-self: center;
    text-align: center;
    margin-top: -5vh;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    animation-duration: 2.1s;
    animation-name: slide_up2;
}

@keyframes slide_up1 {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide_up2 {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}
 
@media screen and (max-width:400px){
    .title {
        width: auto;
        height: 50vh;
    }
    .title-logo {
        transform: scale(1.5);
        margin-top: -5%;
        margin-bottom: 8%;
    }
    .title-text {
        font-size: 0.8rem;
        width: 100%;
        justify-content: center;
    
    }
 }
      @media screen and (max-width:600px) and (min-width:401px) {
        .title {
            width: auto;
            height: 50vh;
        }
        .title-logo {
            transform: scale(1.5);
            margin-top: -8%;
            margin-bottom: 4%;
        }
        .title-text {
            font-size: 0.8rem;
            width: 80%;
            justify-content: center;
        }
    
      }
      @media screen and (max-width:768px) and (min-width:600px) {
        .title {
            width: auto;
            height: 65vh;
        }
        .title-logo {
            transform: scale(1.5);
            margin-top: -8%;
            margin-bottom: 4%;
        }
        .title-text {
            font-size: 1.2rem;
            width: 80%;
            justify-content: center;
        }
    
      }
      @media screen and (max-width:992px) and (min-width:768px) {
        .title {
            width: auto;
            height: 80vh;
        }
        .title-logo {
            transform: scale(1.5);
            margin-top: -8%;
            margin-bottom: 2%;
        }
        .title-text {
            font-size: 1.3rem;
            width: 80%;
            justify-content: center;
        }

      }
      @media screen and (max-width:1200px) and (min-width:992px) {
        .title {
            width: auto;
        }
        .title-text {
            font-size: 1.5rem;
           justify-content: center;
        }
        .title-logo {
            
        }
    
      }