.event-pages-p{
    display: block;
    height: auto;
   
}
.event-pages-header{
    background-color: #443e58;
    width: 100%;
    height: 4.5rem;
}
.event-pages-bg{
  background: url(./Assets/bg.png);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.more-reports{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 5rem;
}
.more-reports a{
    background-color: #443e58;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}