.event-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.event-poster {
  width: 20%;
}
.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.event-title {
  font-size: 3rem;
}
.e-date {
  font-size: 2rem;
  color: black;
}
.event-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event-image {
  max-width: 15%;
  max-height: 100%;
  object-fit: contain;
  margin: 1rem;
}
