.event-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.event-poster {
  width: 20%;
}
.event-content {
  display: flex;
  flex-direction: column;
  align-items: justify;
  width: 80%;
}
.event-title {
  font-size: 3rem;
}
.e-date {
  font-size: 2rem;
  color: black;
}
.event-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event-image {
  max-width: 35%;
  max-height: 100%;
  object-fit: fill;
  margin: 1rem;
}
.event-report{
  background-color: #443e58;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.5vw;
}