.about-section{
    word-spacing: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: -3vh auto 0 auto;
    background-color: rgb(240, 248, 255);
    gap: 4vh;
    text-align: justify;
    box-shadow: 8px 10px 15px 0px #868686;
}
.about-heading-underline{        /* for clubs heading underline */
    background: rgb(233, 180, 86);
}
.about-us-heading{
    font-weight: bold;
    margin-top: 1vh;
    font-size: 3rem;
    /* font-weight: 430; */
    color: rgb(68, 62, 88);
    display: flex;
    flex-direction: column;
}
.about-us-content{
    gap: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
 .about-jyc-data{
    width: 50%;
    font-size: 1rem;
}
.about-member{
    width: 50%;
} 
.about-become-member{
    word-spacing: .2rem;
    font-size: 1.4rem;
    font-weight: 600;
    /* padding-left: 1.25vw; */
    color: rgb(68, 62, 88);;
}
.about-stats{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(68, 62, 88);
    width: 100%;
    height: 13vh;
    color: white;
    padding: 3vh 0;
    text-align: center;
}
.about-stat-data{
    font-size: 2.8rem;
    font-weight: 800;
}
.become-member-item{
    font-size: 1rem;
}
@media only screen and (max-width: 768px) {
    .about-section{
        width: 92%;
    }
    .about-us-heading{
        font-size: 2.4rem;
    }
    .about-us-content{
        flex-direction: column;
        gap: 4vh;
    }
    .about-jyc-data{
        width: 100%;
    }
    .about-member{
        padding-left: .7rem;
        width: 97%;
    } 
    .about-stat-data{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .about-stats{
        padding: 2vh 0;
        height: 6vh;
    }
}
@media only screen and (max-width: 440px) {
    .about-us-heading{
        margin-top: 1rem;
    }
    .about-jyc-data{
        width: 100%;
        font-size: .7rem;
        word-spacing: .2rem;
    }
    .become-member-items{
        padding-top: 1rem;
    }
    .become-member-item{
        margin-left: .7rem;
        font-size: .7rem;
        word-spacing: .2rem;
    }
    .about-member{
        padding-left: 0;
        width: 100%;
    }
    .about-stat{
        padding: .4rem;
        /* height: 2vh; */
    }
    .about-stat{
        font-size: .8rem;
    }
    .about-stat-data{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 992px) {
    .about-heading-underline{
        width: 17.6rem;
        height: .9vh;
    }
    .about-us-heading{
        font-size: 4rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about-heading-underline{
        width: 13.3rem;
        height: .7vh;
    }
    .about-us-heading{
        font-size: 3rem;
    }
    .about-jyc-data{
        font-size: .9rem;
    }
    .become-member-item{
        font-size: .9rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .about-heading-underline{
        width: 13.2rem;
        height: .6vh;
    }
    .about-us-heading{
        font-size: 3rem;
    }
    .about-jyc-data{
        font-size: .9rem;
    }
    .become-member-item{
        font-size: .9rem;
    }
}
@media only screen and (min-width: 420px) and (max-width: 600px) {
    .about-heading-underline{
        width: 11.1rem;
        height: .6vh;
    }
    .about-us-heading{
        font-size: 2.5rem;
    }
    .about-jyc-data{
        font-size: .7rem;
    }
    .become-member-item{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 420px) {
    .about-heading-underline{
        width: 8.9rem;
        height: .4vh;
    }
    .about-us-heading{
        font-size: 2rem;
    }
}