
.Card{
    margin-top: 2%;
    margin-left : 8%;   
    transform: scale(1);
}
.Img{
    border-radius:5px;
    width: 16vw;
    height: 15vw;
   }
 .FacName{
     color: #fff;
     font-size: 150%;
     font-weight: bold;
 }
 .Details {
     color:white;
     font-size:0%;
 }
 .body{
     margin-left: 102%;
     margin-top: -15%;
     width: 120%;
     
 }
 .Card:hover Img{
    animation: expandphotos 1s forwards;
 }
 .Card:hover .FacName{
     animation: expandNames 1.3s forwards ;
 }
 .Card:hover .Details{
     animation: expandDetails 1.3s forwards;
 }
@keyframes expandphotos{
    0%{}
    100%{ 
        box-shadow: rgba(0, 0, 0, 0.582) 0px 54px 55px, rgba(0, 0, 0, 0.521) 0px -12px 30px, rgba(0, 0, 0, 0.404) 0px 4px 6px, rgba(0, 0, 0, 0.473) 0px 12px 13px, rgba(0, 0, 0, 0.459) 0px -3px 5px;
    }
}
@keyframes expandNames{
    0%{}
    100%{
        font-size: 150%;
        margin-top: -60%;
    }
}
@keyframes expandDetails{
    0%{ display: block;}
    15%{}
    100%{font-size: 110%; }
}
@media screen and (max-width:400px){
    .FacName{
        margin-top: -20%;
        font-size: 35%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 35%;
            margin-top: -75%;
        }
    }
    @keyframes expandDetails{
        0%{}
        15%{}
        100%{font-size: 35%; }
    }
}
@media screen and (min-width:601px) and (max-width: 768px){
    .FacName{
        font-size: 65%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 69%;
            margin-top: -72%;
        }
    }
    @keyframes expandDetails{
        0%{ }
        15%{}
        100%{font-size: 65%; }
    }
}
@media screen and (max-width:600px) and (min-width:401px){
    .FacName{
        font-size: 45%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 50%;
            margin-top: -75%;
        }
    }
    @keyframes expandDetails{
        0%{}
        15%{}
        100%{font-size: 50%; }
    }
}
@media screen and (min-width:601px) and (max-width: 768px){
    .FacName{
        font-size: 65%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 69%;
            margin-top: -72%;
        }
    }
    @keyframes expandDetails{
        0%{ }
        15%{}
        100%{font-size: 65%; }
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    .FacName{
        font-size:80%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 85%;
            margin-top: -64%;
        }
    }
    @keyframes expandDetails{
        0%{ }
        15%{}
        100%{font-size: 75%; }
    }
}
@media screen and (min-width: 992px) and (max-width:1200px){
    .FacName{
        font-size: 100%;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 110%;
            margin-top: -65%;
        }
    }
    @keyframes expandDetails{
        0%{ }
        15%{}
        100%{font-size: 100%; }
    }
}
@media screen and (min-width:1200px){
    .FacName{
        font-size: 135% ;
    }
    @keyframes expandNames{
        0%{}
        100%{
            font-size: 145%;
            margin-top: -60%;
        }
    }
    @keyframes expandDetails{
        0%{ }
        15%{}
        100%{font-size: 110%; }
    }
}