@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#TitleSC{
  margin-top: 5%;
    width:100%;
    color: #443E58;
    text-align: center;
    text-decoration: underline #E9B456 5px ;
    margin-bottom: 5%;
    font-size: 3rem;
}
.StdCoordinators {
  width: 100%;
  height: 100% ;  
}
.PankajKumar{
  margin-top: 3%;
  margin-bottom: 3%;
    display: flex;
  justify-content: center;
}
@media screen and (max-width:400px){
  
  #TitleSC{
    font-size: 1.5rem;
  }
  .PankajKumar{
    transform: scale(0.5);
    margin-top: -20%;
    margin-bottom: -20%;
    height: 50%;
  }

}
@media screen and (max-width:600px) and (min-width:400px) {
  
  #TitleSC{
    font-size: 1.8rem;
  }
  

}
@media screen and (max-width:768px) and (min-width:601px){
  .StdCoordinators{
    height: 50%;
  }
  #TitleSC{
    font-size: 2.1rem;
  }
  .CoordiName{
    font-size: 85%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 28%;
  width: 8%;
  font-size: 190%;
  height: 11vh;
  }
  .slick-track{
    height: 40vh;
  }

}
@media screen and (max-width:992px) and (min-width:769px){
  .StdCoordinators{
    height: 50%;
  }
  #TitleSC{
    font-size: 2.4rem;
  }
  .CoordiName{
    font-size: 85%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 25%;
  width: 10%;
  font-size: 210%;
  height: 14vh;
  }
  .slick-track{
    height: 50vh;
  }

}
@media screen and (max-width:1200px) and (min-width:992px){
  .StdCoordinators{
    height: 50%;
  }
  .CoordiName{
    font-size: 95%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 30%;
  width: 12%;
  font-size: 230%;
  height: 20vh;
  }
  .slick-track{
    height: 59vh;
  }

}