.contact-box{
    display: flex;
    flex-direction: column;
    background: white;
    width: 30rem;
    padding: 2rem 1rem;
    box-shadow: 2px 2px 8px 1px black;
}
.hbg{
    display: flex;
    width: 100vw;
    height: 4rem;
    background: #443E58;
}
.post-ribbon{
    background: #443E58;
    box-shadow: 2px 2px 8px 1px rgb(133, 133, 133);
    padding: .8rem;
    color: white;
}
.contact-details{
    padding: 1rem 0 0 1rem;
}
.left-line{
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .contact-box{
        width: 25rem;
    }
    .hbg{
        height: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .contact-box{
        width: 20rem;
    }
}
@media only screen and (max-width: 440px) {
    .contact-box{
        width: 16rem;
    }
}