.card-ue {
  box-shadow: 0 4% 8% 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f1e8d9;
  width: 20rem;
  height: 29rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3%;
  padding: 0.6%;
}
.card-ue:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards-ue {
  /* height: 55vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.all-events {
  text-decoration: none;
  display: flex;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 3rem;
}

@media all and (max-width: 425px) {
  .cards-ue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    gap: 2.5rem;
  }
  .card-ue{
    padding: 1rem;
    height: auto;
  }
}
@media all and (min-width:426px) and (max-width: 768px) {
  .cards-ue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 11%;
    gap: 2.5rem;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .cards-ue {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 2.5rem;
  }
}

@media all and (min-width: 1025px) {
  .cards-ue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2.5rem;
  }
}
