.event-image-ue {
    border-radius: 3%;
    width: 100%;
   
    
  }
  .event-heading-ue
  {
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
    text-align: center;
    display: flex;
justify-content: center;
}
  @media screen and (max-width: 450px)and(min-width: 200px) {
    .event-heading-ue{
      font-size: 1.3rem;
      margin: 3%; 
    }
  }
  .event-date-ue{
    color: black;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    padding-top: 2%;
  }
  @media screen and (max-width: 450px) {
    .event-date-ue{
      font-size: 1rem; 
    }
  }
  .event-about-ue{
    font-size: 1rem;
    text-align: justify;
    display: flex;
justify-content: left;
/* padding-top: 3%; */
margin-top: 1rem;
  }