.JYC-TEAM-heading{
    text-align: center;
    color: #443E58;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}
.jycteam-underline{
    background: rgb(233, 180, 86);
}
.JYC-TEAM{
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}
.JYC-TEAM-Members{
    
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:768px) {
    .JYC-TEAM-Members{
        flex-direction: column;
        gap: 8vh;
        justify-content: center;
    }
    .JYC-TEAM-head-text{
        font-size: 3rem;
    }
    .Member-1{order:1;}
    .Member-2{order:0;}
    .Member-3{order:2;}
}
@media only screen and (max-width: 600px) {
    .JYC-TEAM-head-text{
        font-size: 2rem;
    }
}
@media only screen and (min-width: 992px) {
    .jycteam-underline{
        width: 17.8rem;
        height: .9vh;
    }
    .JYC-TEAM-heading{
        font-size: 4rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .jycteam-underline{
        width: 13.3rem;
        height: .7vh;
    }
    .JYC-TEAM-heading{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .jycteam-underline{
        width: 13.3rem;
        height: .6vh;
    }
    .JYC-TEAM-heading{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 420px) and (max-width: 600px) {
    .jycteam-underline{
        width: 11.1rem;
        height: .6vh;
    }
    .JYC-TEAM-heading{
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 420px) {
    .jycteam-underline{
        width: 8.9rem;
        height: .4vh;
    }
    .JYC-TEAM-heading{
        font-size: 2rem;
    }
}