.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
}
.links i{
  color: black;
}
.cards {
  height: 15rem;
  width: 15rem;
  text-align: center;
  background-color: rgb(68, 62, 88, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-line hr {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 0px;
  background: rgba(68, 67, 64, 0.904);
  border: 2px solid rgb(68, 67, 64, 0.7);
}
.person-img {
  z-index: -100;
  border-radius: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 30%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: -3rem;
}

.name {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 5%;
}

.text {
  color: black;
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.socials-dev-team {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 15%;
}
.socials-dev-team a {
  color: rgb(0, 0, 0, 0.8);
  margin-top: 5%rem;
  margin-bottom: 10%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
