#FACTheatre{
  text-decoration: underline #E9B456 5px ;
  margin: auto;
  color: #443E58;
  font-size: 3rem; 
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
#tiltedTheatre {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 120vh;
  justify-content: center;
  transform: skew(30deg);
  overflow-x: hidden;
  background-color: #443E58 ;
  margin-left: -45vw;
}
.card { 
  margin: 0vh 60vw;
  transform: skew(-30deg);
}
@media screen and (max-width:400px){
  #FACTheatre{
    font-size: 1.5rem;
    margin-top: 3%;
   }
  .containerFC{
    background-color: #443E58;
  }
  #tiltedTheatre {
    height: 40vh;
    width: 110%;
    background-color: #443E58;
  }
  .card { 
    margin: 0vh 60vw;
    transform: skew(-30deg);
  }
}
@media screen and (max-width:600px) and (min-width:401px) {
  #FACTheatre{
    font-size: 1.8rem;
   }
  .containerFC{
    background-color: #443E58;
  }
  #tiltedTheatre {
    height: 52vh;
    width: 110%;
    background-color: #443E58;
  }
  .card { 
    margin: 0vh 60vw;
    transform: skew(-30deg);
  }
}
@media screen and (max-width:768px) and (min-width:600px) {
  #FACTheatre{
    font-size: 2.1rem;
   }
  #tiltedTheatre {
    height: 80vh;
    width: 120%;
    background-color: #443E58;
  }
  .card { 
    margin: 0vh 60vw;
    transform: skew(-30deg);
  }
}
@media screen and (max-width:992px) and (min-width:768px) {
  #FACTheatre{
    font-size: 2.4rem;
   }
  #tiltedTheatre {
    height: 85vh;
    width: 110%;
    background-color: #443E58;
  }
  .card { 
    margin: 0vh 60vw;
    transform: skew(-30deg);
  }
}
@media screen and (max-width:1200px) and (min-width:992px) {
  #tiltedTheatre {
    height: 100vh;
    width: 100%;
    background-color: #443E58;
  }
  .card { 
    margin: 0vh 60vw;
    transform: skew(-30deg);
  }
}
