.club-landing {
  display: flex;
  justify-content: center;
  font-weight: 700;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #443e58;
  gap: 1rem;
}

.club-logo {
  display: flex;
  align-self: center;
  width: 10%;
  height: auto;
  animation-duration: 1.4s;
  animation-name: slide_up1;
}

.club-title {
  display: flex;
  align-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  animation-duration: 1s;
  animation-name: slide_up2;
}

.club-socials {
  padding: 4rem;
  display: flex;
  color: white;
  justify-content: center;
  gap: 10vw;
  animation-duration: 3s;
  animation-name: slide_up1;
}
.club-socials a {
  color: white;
  font-size: 2vw;
}
.club-socials a:hover {
  animation: float 1s ease-in-out infinite;
}

.insta {
  transform: scale(2);
}

.fb {
  transform: scale(2);
}

.twitter {
  transform: scale(2);
}

@keyframes slide_up1 {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance to float */
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 400px) {
  .title {
    width: auto;
    height: 50vh;
  }
  .title-logo {
    transform: scale(1.5);
    margin-top: -5%;
    margin-bottom: 8%;
  }
  .title-text {
    font-size: 0.8rem;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) and (min-width: 401px) {
  .title {
    width: auto;
    height: 50vh;
  }
  .title-logo {
    transform: scale(1.5);
    margin-top: -8%;
    margin-bottom: 4%;
  }
  .title-text {
    font-size: 0.8rem;
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  .title {
    width: auto;
    height: 65vh;
  }
  .title-logo {
    transform: scale(1.5);
    margin-top: -8%;
    margin-bottom: 4%;
  }
  .title-text {
    font-size: 1.2rem;
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .title {
    width: auto;
    height: 80vh;
  }
  .title-logo {
    transform: scale(1.5);
    margin-top: -8%;
    margin-bottom: 2%;
  }
  .title-text {
    font-size: 1.3rem;
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .title {
    width: auto;
  }
  .title-text {
    font-size: 1.5rem;
    justify-content: center;
  }
  .title-logo {
  }
}
