.club-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--primaryColor);
}
.club-events h6{
    font-size: 52px;
    margin-top: 5rem;
    color: white;
    text-decoration: underline #e9b456 5px;
}