.ln-card{
    display: flex;
    width: 80%;
    gap: 2rem;
    background-color: #443e587d;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.ln-card img{
    width: 200px;
    height: 200px;
}
.ln-card div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ln-card h6{
    font-size: 24px;
    font-weight: 700;
}
.ln-card p:nth-child(2){
    font-size: 12px;
}
.ln-card p:nth-child(3){
    font-size: 18px;
    text-align: justify;
    width: 97%;
}
.ln-card a{
    color: #1e0e53;
    display: flex;
    width:fit-content;
}
.latest-news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#latest-news{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 3rem;
}

@media only screen and (max-width: 420px) {
 
    .ln-card  {
        flex-direction: column; /* Change to column for mobile view */
    }
}

@media only screen and (min-width: 420px) and (max-width: 600px) {
  
    .ln-card  {
        flex-direction: column; /* Change to column for mobile view */
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  
    .ln-card div {
        flex-direction: column; /* Change to column for mobile view */
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
   
    .ln-card  {
        flex-direction: column; /* Change to column for mobile view */
    }
}

@media only screen and (min-width: 992px) {

    .ln-card  {
        flex-direction: column; /* Change to column for mobile view */
    }
}