@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Title{
  margin-top: 5%;
    width:100%;
    color: #443E58;
    text-align: center;
    text-decoration: underline #E9B456 5px ;
    margin-bottom: 5%;
    font-size: 4rem;
}
.StdCoordinators {
  width: 100%;
  height: 100% ;  
}
.CoordiName{
  margin-top: 3%;
  text-align: center;
}
.slick-track{
    height:70vh;
}
.slide img {
  width: 15vw;
  margin: 0 auto;
  border-radius: 8px ;
  background-color: black;
  border-color: black 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.slide {
  transform: scale(1);
  transition: transform 300ms;
  opacity: 0.7;
  margin-top: 12%;
  margin-left: 25%;
}
.activeSlide {
  margin-top: 17%;
  transform: scale(1.5);
  opacity: 1;
}
.arrow {
  background-color:white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 32%;
  width: 10%;
  font-size: 250%;
  height: 16vh;
}
.arrow svg {
  transition: color 300ms;
}
.arrow svg:hover {
  color: #443E58;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
}
.prev {
  display: flex;
  background-color:rgba(0, 0, 0, 0.411);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}
.CoordiName{
  margin-bottom: 2%;
  font-size: 120%;
  font-weight: bold;
}
@media screen and (max-width:400px){
  .StdCoordinators{
    height: 50%;
  }
  .Title{
    font-size: 1rem;
  }
  .CoordiName{
    font-size: 75%;
    width: 75%;
    margin: auto;
  }
  .slide{
    margin-top: 25%;
  }
  .arrow{
    top: 32%;
  width: 9%;
  font-size: 140%;
  height: 7vh;
  }
  .slick-track{
    padding-top: 10%;
    height: 25vh;
  }

}
@media screen and (max-width:600px) and (min-width:400px) {
  .StdCoordinators{
    height: 50%;
  }
  .Title{
    font-size: 1.2rem;
  }
  .CoordiName{
    font-size: 85%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 18%;
  width: 9%;
  font-size: 170%;
  height: 8vh;
  }
  .slick-track{
    height: 35vh;
  }

}
@media screen and (max-width:768px) and (min-width:601px){
  .StdCoordinators{
    height: 50%;
  }
  .Title{
    font-size: 1.5rem;
  }
  .CoordiName{
    font-size: 85%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 28%;
  width: 8%;
  font-size: 190%;
  height: 11vh;
  }
  .slick-track{
    height: 40vh;
  }

}
@media screen and (max-width:992px) and (min-width:769px){
  .StdCoordinators{
    height: 50%;
  }
  .Title{
    font-size: 1.8rem;
  }
  .CoordiName{
    font-size: 85%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 25%;
  width: 10%;
  font-size: 210%;
  height: 14vh;
  }
  .slick-track{
    height: 50vh;
  }

}
@media screen and (max-width:1200px) and (min-width:992px){
  .StdCoordinators{
    height: 50%;
  }
  .CoordiName{
    font-size: 95%;
  }
  .slide{
    margin-top: 17%;
  }
  .arrow{
    top: 30%;
  width: 12%;
  font-size: 230%;
  height: 20vh;
  }
  .slick-track{
    height: 59vh;
  }

}