.events-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 4rem;
  color: #443e58;
  font-weight: bold;
  margin-top: 3%;
  align-items: center;
}
.eventsheading-u{
  background: rgb(233, 180, 86);
}
.events-jyc {
  display: flex;
  flex-direction: column;
  background: url(./images/bg.png);
  background-repeat: repeat-y;
  z-index: -2;
  background-size: cover;
  background-position: center;
  margin-bottom: 10vh;
}
.events-container {
  gap: 8vw;
}
@media only screen and (max-width: 600px) {
  .events-heading {
    font-size: 2.5rem;
    margin-top: 15%;
    /* padding-top: 20%; */
  }
}
.events-head-bg {
  height: 10vh;
  background-color: #443e58;
}

@media (max-width: 768px) {
  .events-head-bg {
    height: 7vh;
  }
}
@media only screen and (min-width: 992px) {
  .eventsheading-u{
      width: 12.6rem;
      height: 1vh;
  }
  .events-heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .eventsheading-u{
      width: 9.6rem;
      height: .7vh;
  }
  .events-heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .eventsheading-u{
      width: 9.6rem;
      height: .6vh;
  }
  .events-heading {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 600px) {
  .eventsheading-u{
      width: 8rem;
      height: .6vh;
  }
  .events-heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .eventsheading-u{
      width: 6.3rem;
      height: .4vh;
  }
  .events-heading {
    font-size: 2rem;
  }
}
